<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWAG_APP"
        tools:targetApi="31">
        <activity
            android:name=".StudentActivities.Review_Answers"
            android:exported="false" />
        <activity
            android:name=".BaseActivityStudent"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.QuizDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.TrackProgressActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.AttemptQuiz"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.ViewScoresActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.AttemptedQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.AvailableQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.AddQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.QuizQuestions"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.PastQuizzes"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.CreateQuiz"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivities.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.QuizProgressActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>